<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <%- include('partials/head.ejs')%>
    
</head>
<body>
    <h1> Listagem de Usuários </h1>
    <%- include('partials/navbar.ejs') %>
    
    <div class="list">
        <% users.forEach((user) => {%>
            <li>
                <%= user.name%> - <%= user.email%> - Idade:<%= user.age%> - 
                <a href="/edit?id=<%= user._id%>">[editar]</a> -
                <a href="/remove/<%= user._id%>">[remover]</a>
            </li>
        <% }) %>
    </div>
    <hr>


    

    
    <%- include('partials/foot.ejs')%>
</body>
</html>